body{
    background: linear-gradient(to left bottom, #A9F1DF , #FFBBBB);
}

.image_me{
    width: 20%;
    margin-left: 100px;
    height: 600px;
}
.title{
   margin-top: -35%;
   margin-left: 35%;
   width: 40%;
   padding: 2%;
}
.title h1{
    font-size: 60px;
    font-weight: bold;
    margin-top: -2%;
}
.title h3{
    color: white;
    font-size: 40px;
    font-weight: 600;
}
.title p{
    margin-top: -15%;
    margin-left: 1%;
    font-size: 20px;
}
#comp_icon{
    margin-left: 10px;
}
.vertical_line{
    height: 100px;
    width: 0;
    margin-top: -2%;
    border: 1px solid white;
}
.social_icons{
    margin-left: 93%;
    z-index: 1;
    
}
#whatsapp{
    margin-top: -380%;
}
#whatsapp i, #linkedin i, #telegram i, #youtube i, #instagram i{
    font-size: 38px;
    margin: 20%;
    color: rgb(135, 135, 135);
}
#whatsapp i:hover{
    color: rgb(95, 233, 70);
}
#instagram i:hover{
    color: rgb(223, 53, 53);
}
#linkedin i:hover{
    color: rgb(40, 40, 191);
}
#telegram i:hover{
    color: rgb(106, 106, 250);
}
#youtube i:hover{
    color: rgb(248, 5, 5);
}


@media only screen and (min-width:320px) {
    .landing_image{
        display: flex;
        flex-direction: column;
    }
    .image_me{
        margin-left: 20%;
        padding: 0;
        width: 50%;
    }
    .title{
        margin-top: 2%;
        margin-left: 0;
        width: 100%;
    }
    .title h3{
        font-size: 30px;
    }
    .title h1{
        font-size: 40px;
        padding-left: 10%;
    }
    .title p{
        padding-left: 10%;
        margin-top: -18%;
    }
    .title .vertical_line{
        margin-left: 10%;
    }
    .social_icons{
        display: flex;
        margin: 0;
        gap: 5%;
        align-items: center;
        justify-content: center;
    }
    #whatsapp{
        margin: 0;
    }
}

@media only screen and (min-width:768px) {
    .landing_image{
        display: flex;
        flex-direction: row;
    }
    .image_me{
        margin: 0;
        height: 500px;
    }
    .title{
        margin-top: 20%;
        margin-left: 1%;
    }
    .title h3{
        font-size: 28px;
    }
    .title p{
        margin-top: -25%;
    }
    .vertical_line{
        margin-top: 10%;
    }
    .social_icons{
        margin-top: 5%;
    }
}

@media only screen and (min-width:992px) {
    .title{
        margin-left: 4%;
        margin-top: 18%;
        width: 100%;
    }
    .title h1{
        font-size: 50px;
        margin-bottom: 12%;
    }
    .title h3{
        font-size: 40px;
    }
    .title p{
        margin-top: -20%;
    }
    .vertical_line{
        margin-top: -5%;
    }
}

@media only screen and (min-width:1280px) {
    .title{
        margin-top: 10%;
    }
    .title p{
        margin-top: -11%;
        padding-left: 0;
    }
    .title h1{
        padding-left: 0;
    }
    .image_me{
        margin-top: 4%;
    }
    .social_icons{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 90%;
        margin-top: -30%;
    }
    .title .vertical_line{
        margin-top: -10%;
        margin-left: 0%;
    }
}