.contact{
    background-color: white;
    margin-top: 45% ;
    text-align: center;
    width: 90%;
    margin-left: 2%;
    padding: 3%;
    margin-bottom: 5%;
    border-radius: 8px;
}
.contact-title{
    font-size: 50px;
    font-weight: 500;
}
.contact-container{
    display: flex;
    margin-top: 5%;
}
.contact-left{
    width: 50%;
    padding-left: 15%;
}
.contact-left h1{
    text-align: left;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contact-left p{
    text-align: left;
}

.contact-right{
    width: 50%;
}
.form{
    width: 60%;
    border-radius: 8px;
    padding: 2%;
    background-color: beige;
    box-shadow: 1px 1px 5px 3px gray;
}

.form input{
    width: 90%;
    height: 40px;
    margin:4%;
    border-radius: 10px;
    border: none;
    outline: none;
}

.form .message-field{
    height: 90px;
}

.form input:hover{
    background-color: rgb(230, 255, 247);
}

.form button{
    width: 150px;
    border: none;
    outline: none;
    background-color: burlywood;
    border-radius: 7px;
    cursor: pointer;
    margin: 10px 0px;
    padding: 5%;
}

.form button:hover{
    transform: scale(1.06);
}
.contact-mail-phone{
    float: left;
}
.contact-mail{
    display: flex;
    gap: 20px;
}
.contact-mail img{
    width: 70px;
    height: 60px;
    margin-top: 15px;
    background-color: rgb(255, 118, 118);
}
.contact-phone{
    display: flex;
    gap: 20px;
}
.contact-phone img{
    width: 70px;
    height: 50px;
    margin-top: 20px;
}


@media only screen and (min-width:320px) {
    .contact{
        margin-top: 1000px;
        width: 90%;
        margin-left: 5%;
    }
    .contact-left{
        padding: 10% 2%;
    }
    .contact-right{
        padding-left: 10%;
    }
    .contact-left h1{
        font-size: 15px;
    }
    .contact-left p{
        font-size: 13px;
    }
    .contact-mail img{
        width: 40px;
    }
    .contact-mail h4{
        font-size: 11px;
        margin-top: 12%;
    }
    .contact-phone img{
        width: 50px;
    }
    .contact-phone h4{
        font-size: 11px;
        margin-top: 13%;
    }
    .form{
        width: 100%;
        padding: 1% 2%;
    }
    .form input{
        height: 28px;
    }
    .form button{
        width: 65%;
    }
    .form .message-field{
        height: 50px;
    }
}


@media only screen and (min-width:768px) {
    .contact{
        margin-left: 7%;
    }
    .contact-left{
        padding-left: 5%;
        padding-top: 5%;
    }
    .contact-left h1{
        font-size: 25px;
    }
    .contact-left p{
        font-size: 16px;
    }
    .contact-mail img{
        width: 50px;
    }
    .contact-mail h4{
        font-size: 12px;
    }
    .contact-phone img{
        width: 60px;
    }
    .contact-phone h4{
        font-size: 12px;
    }
    .form input{
        height: 30px;
    }
}

@media only screen and (min-width:992px) {
    .contact{
        width: 95%;
        margin-left: 2%;
    }
    .contact-left{
        padding-left: 10%;
    }
    .contact-right{
        margin: 0;
        padding: 0% 5%;
    }
    .contact-left h1{
        font-size: 28px;
    }
    .contact-mail img{
        width: 60px;
    }
    .contact-mail h4{
        font-size: 14px;
        margin-top: 10%;
    }
    .contact-phone img{
        width: 70px;
    }
    .contact-phone h4{
        font-size: 14px;
        margin-top: 10%;
    }
}

@media only screen and (min-width:1280px) {
    .contact{
        margin-top: 50%;
    }
    .contact-left h1{
        font-size: 33px;
        margin-bottom: 10px;
    }
    .form{
        padding: 4% 0%;
    }
    .contact-mail img{
        width: 70px;
        margin-top: 8%;
    }
    .contact-mail h4{
        font-size: 16px;
        margin-top: 10%;
    }
    .contact-phone img{
        width: 80px;
        margin-top: 9%;
    }
    .contact-phone h4{
        font-size: 16px;
        margin-top: 10%;
    }
}