.about_page{
    margin-top: 0%;
    padding-right: 5%;
    display: flex;
    float: right;
}
.about_page div h1{
    font-size: 70px;
    font-weight: 400;
    color: rgb(3, 3, 3);
    margin-left: 40%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.about_page div p{
    width: 70%;
    margin-left: 20%;
    line-height: 1.8;
    word-spacing: 4px;
    font-size: 20px;
    text-align: justify;
}
.about_img{
    border-radius: 50%;
    height: 450px;
    width: 450px;
    margin-top: 25%;
    margin-bottom: 10%;
}


@media only screen and (min-width:320px) {
    .about_page{
        display: flex;
        flex-direction: column;
    }
    .about_page div h1{
        text-align: center;
        margin-left: 0;
        margin-top: 10%;
        margin-bottom: 5%;
    }
    .about_page div p{
        width: 90%;
        margin: 0% 8%;
    }
    .about_img{
        border-radius: 0%;
        margin-left: 11%;
        margin-top: 2%;
        height: 300px;
        width: 350px;
    }
}

@media  only screen and (min-width:768px) {
    .about_img{
        margin-left: 25%;
    }
    .about_page div p{
        width: 95%;
        margin: 0% 6%;
    }
}

@media only screen and (min-width:992px) {
    .about_page div p{
        margin-top: -8%;
    }
}

@media only screen and (min-width:1280px) {
    .about_page{
        display: flex;
        flex-direction: row;
    }
    .about_page div h1{
        margin-left: 50%;
    }
    .about_page div p{
        width: 90%;
        margin-top: 0;
    }
    .about_img{
        margin-top: 40%;
        margin-left: 0;
        border-radius: 50%;
        width: 400px;
        height: 400px;
    }
}