.skills{
    text-align: center;
}
.skills h1{
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 5px;
    margin-bottom: -2%;
    margin-top: 8%;
    font-family: Arial, Helvetica, sans-serif;
}

.skills-container{
    padding: 5% 15% 5% 8%;
    display: flex;
    justify-content: space-between;
}
.technical-skills{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(221, 238, 239);
    border: none;
    outline: none;
    margin-left: 10%;
}

.technical-skills .circle-container h1{
    font-size: 35px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    justify-content: center;
    margin-top: 60%;
}

.soft-skills{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 134, 134);
    border: none;
    outline: none;
}
.soft-skills .circle-container1 h1{
    font-size: 35px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    justify-content: center;
    margin-top: 60%;
}


/* ImageCircle.css */
.circle-container {
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 40px;
  }
  
  .circle-item {
    position: absolute;
    width: 80px;
    height: 100px;
    text-align: center;
  }
  
  .circle-item img {
    width: 60px;
    height: 50px;
    border-radius: 50%;
  }
  
  .circle-item:nth-child(1) {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .circle-item:nth-child(2) {
    top: 25%;
    left: 85%;
    transform: translate(-50%, -50%);
  }
  
  .circle-item:nth-child(3) {
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
  }
  
  .circle-item:nth-child(4) {
    top: 75%;
    left: 85%;
    transform: translate(-50%, -50%);
  }
  
  .circle-item:nth-child(5) {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .circle-item:nth-child(6) {
    top: 75%;
    left: 15%;
    transform: translate(-50%, -50%);
  }
  
  .circle-item:nth-child(7) {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
  }
  
  .circle-item:nth-child(8) {
    top: 25%;
    left: 15%;
    transform: translate(-50%, -50%);
  }
  
  .circle-item p {
    margin-top: 5px;
    font-size: 12px;
  }
  
/* ImageCircleWithCaptions.css */
.circle-container1 {
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 25px;
  }
  
  .circle-item1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: 150px 150px; /* Center of the circle-container */
  }
  
  .circle-item1 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .circle-item1:nth-child(1) {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .circle-item1:nth-child(2) {
    top: 35%;
    left: 95%;
    transform: translate(-50%, -50%);
  }
  
  .circle-item1:nth-child(3) {
    top: 75%;
    left: 90%;
    transform: translate(-50%, -50%);
  }
  
  .circle-item1:nth-child(4) {
    top: 75%;
    left: 10%;
    transform: translate(-50%, -50%);
  }
  
  .circle-item1:nth-child(5) {
    bottom: 55%;
    left: 5%;
    transform: translateX(-50%);
  }
  
  .caption {
    margin-top: 8px;
    text-align: center;
    font-size: 12px;
  }
  

.rotate-ball{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 300px;
    position: absolute;
    animation: rotate 4s linear infinite;
}


@keyframes rotate {
    0% {
        left: 50%;
        top: 15%;
        transform: translateX(-50%);
    }
    25%{
        left: 10%;
        top: 45%;
        transform: translateX(-50% -50%);
    }
    50%{
        left: 50%;
        top: 80%;
        transform: translateX(-50% -50%);
    }
    75%{
        left: 90%;
        top: 45%;
        transform: translateX(-50% -50%);
    }
    100% {
        left: 50%;
        top: 15%;
        transform: translateX(-50%);
    }
}

.rotate-ball1{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 300px;
    position: absolute;
    animation: rotates 4s linear infinite;
}

@keyframes rotates {
    0%{
        left: 50%;
        top: 15%;
        transform: translateX(-50%);
    }
    20%{
        left: 18%;
        top: 30%;
        transform: translateX(-50% -50%);
    }
    40%{
        top: 70%;
        left: 18%;
        transform: translateX(-50% -50%);
    }
    60%{
        top: 70%;
        left: 80%;
        transform: translateX(-50% -50%);
    }
    80%{
        top: 30%;
        left: 85%;
        transform: translateX(-50% -50%);
    }
    100%{
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
    }
}


@media only screen and (min-width:320px) {
  .skills h1{
    margin: 10% 0px;
  }
  .skills-container{
    margin: 0;
    padding: 0;
    gap: 100px;
    display: flex;
    flex-direction: column;
  }
  .technical-skills{
    width: 300px;
    height: 300px;
    margin-left: 15%;
  }
  .soft-skills{
    margin: 0% 15%;
    width: 300px;
    height: 300px;
  }
  .circle-item1:nth-child(1) {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .circle-item1:nth-child(2) {
    top: 35%;
    left: 92%;
    transform: translate(-50%, -50%);
  }
  
  .circle-item1:nth-child(3) {
    top: 75%;
    left: 83%;
    transform: translate(-50%, -50%);
  }
  
  .circle-item1:nth-child(4) {
    top: 75%;
    left: 18%;
    transform: translate(-50%, -50%);
  }
  
  .circle-item1:nth-child(5) {
    bottom: 55%;
    left: 7%;
    transform: translateX(-50%);
  }
  .circle-item:nth-child(1) {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .circle-item:nth-child(2) {
    top: 30%;
    left: 85%;
    transform: translate(-50%, -50%);
  }
  
  .circle-item:nth-child(3) {
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
  }
  
  .circle-item:nth-child(4) {
    top: 73%;
    left: 85%;
    transform: translate(-50%, -50%);
  }
  
  .circle-item:nth-child(5) {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .circle-item:nth-child(6) {
    top: 73%;
    left: 15%;
    transform: translate(-50%, -50%);
  }
  
  .circle-item:nth-child(7) {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
  }
  
  .circle-item:nth-child(8) {
    top: 30%;
    left: 15%;
    transform: translate(-50%, -50%);
  }
  .circle-container h1{
    margin-top: 30%;
  }
}

@media only screen and (min-width:768px) {
  .skills-container{
    text-align: center;
    align-items: center;
  }
  .technical-skills{
    margin-left: 0%;
  }
  .soft-skills{
    margin-left: 10%;
  }
}

@media only screen and (min-width:1280px) {
  .skills-container{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
  }
  .skills h1{
    margin-bottom: 5%;
  }
  .technical-skills{
    width: 400px;
    height: 400px;
  }
  .soft-skills{
    width: 400px;
    height: 400px;
  }
  .circle-item1:nth-child(1) {
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .circle-item1:nth-child(2) {
    top: 35%;
    left: 95%;
    transform: translate(-50%, -50%);
  }
  
  .circle-item1:nth-child(3) {
    top: 75%;
    left: 88%;
    transform: translate(-50%, -50%);
  }
  
  .circle-item1:nth-child(4) {
    top: 75%;
    left: 13%;
    transform: translate(-50%, -50%);
  }
  
  .circle-item1:nth-child(5) {
    bottom: 55%;
    left: 5%;
    transform: translateX(-50%);
  }
  .circle-item:nth-child(1) {
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .circle-item:nth-child(2) {
    top: 25%;
    left: 90%;
    transform: translate(-50%, -50%);
  }
  
  .circle-item:nth-child(3) {
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
  }
  
  .circle-item:nth-child(4) {
    top: 77%;
    left: 87%;
    transform: translate(-50%, -50%);
  }
  
  .circle-item:nth-child(5) {
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .circle-item:nth-child(6) {
    top: 77%;
    left: 15%;
    transform: translate(-50%, -50%);
  }
  
  .circle-item:nth-child(7) {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
  }
  
  .circle-item:nth-child(8) {
    top: 25%;
    left: 12%;
    transform: translate(-50%, -50%);
  }
}